*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav{
    background: #0f0c29;
    padding: 10px 40px 10px 70px;
    border-left: none;
    border-right: none;
    color: #FFF;
}
  nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 700;
  }
  nav ul .search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: #deddf1;
    border-radius: 5px;
  }
  nav ul .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
  }
  nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  nav ul .search-icon .icon:hover{
    background: #cccbe4;
  }
  nav ul .search-icon .icon span{
    color: #222222;
    font-size: 18px;
  }
  nav ul li.btn{
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
  }
  nav ul li.btn span{
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
  }
  nav ul li.btn span.show:before{
    content: '\f00d';
  }
  @media screen and (max-width: 1052px) {
    nav{
      padding: 10px 40px 10px 0px;
    }
    nav ul li.logo{
        padding: 10px 40px 10px 0px;
    }
    nav ul div.items{
      flex: 4;
    }
  }
  @media screen and (max-width: 800px){
    nav ul li.btn{
      display: block;
    }
    nav ul li.logo{
       padding-left: 20px;
       font-size: 20px;
       padding-right: 10px;
    }
    nav{
      z-index: 1;
      padding: 9px 40px 9px 0;
    }
    nav ul div.items{
      z-index: -1;
      position: fixed;
      top: -220px;
      right: 0;
      width: 100%;
      background: #222222;
      display: inline-block;
      transition: top .4s;
    }
    nav ul div.items.show{
      top: 60px;
    }
    nav ul div.items li{
      text-align: center;
      line-height: 30px;
      margin: 30px 0;
    }
    nav ul div.items li a{
      font-size: 19px;
    }
  }
  @media screen and (max-width: 405px) {
    nav ul{
      flex-wrap: nowrap;
    }
    nav ul li.search{
      width: 50vmin;
    }
    nav ul li input{
      width: 40vmin;
    }
    nav ul li .search-icon{
      width: 10vmin;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 40px;
    z-index: -2;
  }
  .content .text{
    font-size: 40px;
    font-weight: 800;
    padding: 5px 0;
    color: #202020;
  }
  .content .p{
    font-size: 28px;
    font-weight: 600;
    color: #202020;
  }
  
.container{
    width: 300px;    
    background-color: #FFF;
    
    display: block;
    margin: 150px auto 100px;
    
    border-radius: 10px;
    padding-bottom : 60px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #302b63;
    font-weight: bold;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 300px;
    background-color: #deddf1;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #221e4e;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #302b63;
    font-size: 0.3em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 20px;
    color: #302b63;
    text-align: center;
    font-size: 1.2em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    color: #302b63;
    text-align: center;
    font-size: 0.8em;
}
.credits{
    text-align: center;
    font-style: italic;
    color: #FFF;
}
.credits a{
    color: #d2d0e7;
}
